.center-wrapper {
  text-align: center;
}
.center-wrapper .center{
  margin: 0 auto;
}
.margin-bottom-20{
  margin-bottom: 20px;
}
.margin-bottom-40{
  margin-bottom: 40px;
}
.margin-bottom-60{
  margin-bottom: 60px;
}
.margin-bottom-80{
  margin-bottom: 80px;
}
.margin-bottom-100{
  margin-bottom: 100px;
}
img {
  max-width: 100%;
  height: auto;
}
