<!DOCTYPE html>
<html>
  <head>
    <title>Prestie</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="css/bootstrap-theme.css">
    <link type="text/css" rel="stylesheet" href="js/rs-plugin/css/settings.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" rel="stylesheet" type="text/css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="css/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="css/media.css">
    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="stylesheet" href="/css/app.css"><!--[if lte IE 7]>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"></script><![endif]--><!--[if lte IE 8]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script>
      window.brunch = window.brunch || {};
      window.brunch['auto-reload'] = {
        enabled: true
      };
      
    </script>
    <script src="/js/kinvey-html5-1.1.2.min.js"></script>
    <script src="/js/vendor.js"></script>
  </head>
  <body lang="en" ng-cloak ng-controller="AppController">
    <div id="container" class="main">
      <div id="out">
        <div id="home_marker"></div>
                <div id="header" ng-controller="HeaderController">
                  <div class="inner">
                    <!-- start notification bar-->
                    <div ng-show="notificationMessage" class="notify-bar">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-11 col-xs-11 col-sm-11">
                            <!-- enter notification message here-->
                            <p>{{notificationMessage}}</p>
                          </div>
                          <div class="col-md-1 col-xs-1 col-sm-1"><a href="#" class="notify-close"><i class="icon-remove-sign"></i></a></div>
                        </div>
                      </div>
                    </div>
                    <!-- /end notification bar-->
                    <!-- start top grey bar-->
                    <!-- /end top grey bar-->
                    <!-- start logo and nav area-->
                    <div class="bottom">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-2 col-xs-12 col-sm-2">
                            <!-- your logo goes here--><a id="logo" href="/"><img src="img/logo.png" alt=""></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /end logo and nav area-->
                  </div>
                </div>
        <div id="wrapper">
          <!-- slider start-->
          <div id="main_slider" class="fullwidthbanner-container">
            <div class="fullwidthbanner">
              <ul>
                <!-- slide 1-->
                <li data-transition="slotzoom-horizontal" data-slotamount="5" data-masterspeed="300" class="slide1">
                  <!-- slide 1 main image--><img alt="" src="img/slide1.jpg">
                  <div data-x="100" data-y="75" data-speed="1500" data-start="100" data-easing="easeInBack" class="caption sfl">
                    <!-- slide 1 caption 2-->
                    <p class="cap-2"><span>Ensure every hire you</span><br><span>make will thrive in</span><br><span>your company culture.</span><br><span>That's the power of Prestie.</span></p>
                  </div>
                </li>
                <!-- slide 2-->
                <li data-transition="boxfade" data-slotamount="5" data-masterspeed="300" class="slide2">
                  <!-- slide 2 main image--><img alt="" src="img/slide2.jpg">
                  <div data-x="100" data-y="75" data-speed="1500" data-start="700" data-easing="easeInBack" class="caption sfl">
                    <!-- slide 2 caption 2-->
                    <p class="cap-2"><span>Get the right fit, fast.</span><br><span>Prestie makes sure every hire has</span><br><span>right skills, reputation and credibility</span><br><span>to succeed in their role.</span></p>
                  </div>
                </li>
                <!-- slide 3-->
                <li data-transition="boxfade" data-slotamount="5" data-masterspeed="300" class="slide3">
                  <!-- slide 3 main image--><img alt="" src="img/slide3.jpg">
                  <div data-x="100" data-y="115" data-speed="1500" data-start="1000" data-easing="easeInBack" class="caption sfl">
                    <!-- slide 3 caption 2-->
                    <p class="cap-2"><span>Discover what soft skills are </span><br><span>needed for your company  </span><br><span>in under 10 mintues </span></p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- /end slider-->
          <div class="container">
            <!-- call to action bar-->
            <div class="order_block"><i></i><a href="/getstarted.html" class="order_btn styler_bg_color">Get Started Now!</a><span style="font-size: 80%">Having trouble finding fit?</span></div>
            <!-- start infogrphics bar-->
            <div class="infograph"><sup class="styler_bg_color"></sup>
              <!-- infographics bar headline-->
              <div style="text-transform: uppercase;font-size:180%;" class="header styler_color">Hard facts about soft skills</div>
              <div class="row">
                <!-- infographic column 1-->
                <div class="col-md-3 col-xs-3 col-sm-3">
                  <div class="graph">
                    <div class="graph_inner">
                      <!-- infographic column 1 - large number-->
                      <div data-number="2" data-value="1" data-icon="icon-male" data-height="30" data-color="#0eae9b" class="progress_bars_with_image styler_infograph"></div>
                      <div class="progress_bars_with_image_title styler_color">1 out of every 2                      </div>
                    </div>
                  </div>
                  <div class="desc styler_bg_color"><i class="styler_border_color"></i>
                    <!-- infographics column 1 headline-->
                    <!-- infographics column 1 text body-->
                    <div class="text">Nearly one in two candidates fail within 18 months.  Almost always, it's an attitude or culture fit problem.</div>
                  </div>
                </div>
                <!-- infographic column 2-->
                <div class="col-md-3 col-xs-3 col-sm-3">
                  <div class="graph">
                    <div class="graph_inner">
                      <div style="font-size:50px" class="large_num styler_color">$50K</div>
                      <!-- infographic column 2 - contrasting icons-->
                      <!-- infographic column 2 - contrasting icons caption-->
                    </div>
                  </div>
                  <div class="desc styler_bg_color"><i class="styler_border_color"></i>
                    <!-- infographics column 2 headline-->
                    <!-- infographics column 2 text body-->
                    <div class="text">Each failed employee costs on average $50K in cash costs, not to mention additional friction to the business in other employees' time.</div>
                  </div>
                </div>
                <!-- infographic column 3-->
                <div class="col-md-3 col-xs-3 col-sm-3">
                  <div class="graph">
                    <div class="graph_inner">
                      <!-- infogrphic column 3 progress bars-->
                      <div class="progress_bars_block">
                        <!-- progress bar caption-->
                        <div class="progress_bars_caption styler_color">NOT ENGAGED</div>
                        <!-- progress bar-->
                        <div data-width="220" data-height="15" data-color="#0eae9b" data-title="inner" data-value="71%" class="progress_bars horizontal style1 styler_infograph"></div>
                        <!-- progress bar caption-->
                        <div class="progress_bars_caption styler_color">ENGAGED</div>
                        <!-- progress bar-->
                        <div data-width="220" data-height="15" data-color="#0eae9b" data-title="inner" data-value="29%" class="progress_bars horizontal style1 styler_infograph"></div>
                        <!-- progress bar caption-->
                        <!-- progress bar-->
                      </div>
                    </div>
                  </div>
                  <div class="desc styler_bg_color"><i class="styler_border_color"></i>
                    <!-- infographics column 3 headline-->
                    <!-- infographics column 3 text body-->
                    <div class="text">Most professionals aren't working with people and companies they enjoy.</div>
                  </div>
                </div>
                <!-- infographic column 4-->
                <div class="col-md-3 col-xs-3 col-sm-3">
                  <div class="graph">
                    <div class="graph_inner">
                      <!-- infogrphic column 4 pie chart-->
                      <div data-percent="40" data-trackcolor="#6ed1ff" data-color="#0eae9b" data-linewidth="25" data-size="126" data-cap="butt" class="easy-pie-chart styler_infograph"></div>
                    </div>
                  </div>
                  <div class="desc styler_bg_color"><i class="styler_border_color"></i>
                    <!-- infographics column 4 headline-->
                    <!-- infographics column 4 text body-->
                    <div class="text">40% of interviewees admit that they expressed better cultural fit with a company in interviews than their true feelings</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /end infographics bar-->
            <!-- start portfolio-->
            <div class="mod row">
              <!-- portfolio headline-->
              <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="caption styler_color">Current Clients</div>
                <div class="text">Join the growing number of companies who are finding the right fit.</div><br>
                <div class="carousel portfolio">
                  <ul>
                    <li><a class="photo styler_parent">
                        <!-- portfolio image--><span><img src="img/dyn-logo.jpg"></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- /end portfolio-->
            <!-- start blog-->
            <!-- /end blog-->
            <!-- start about us-->
            <!-- /end about us-->
            <!-- start team-->
            <!-- /end team-->
            <!-- start contact us-->
            <!-- /end contact us-->
          </div>
          <!-- start map-->
          <!-- /end map-->
        </div>
        <div id="empty"></div>
      </div>
    </div>
    <!-- start footer-->
    <!-- start footer-->
    <div id="footer" ng-controller="FooterController">
      <div class="top">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-4">
              <!-- footer logo here--><a href="#" class="logo"><img src="img/logo_white.png" alt=""></a>
              <div class="text">
                <!-- footer logo text-->
                <p>Prestie was made by <a href="#" data-toggle="modal" data-target="#myModal">Ryan and Surat</a> who believe that helping companies and people discover what really motivates them can benefit everyone.  We are based in Cambridge, Massachusetts and are proud to be residents of the Harvard Innovation Lab.</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4">
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4">
              <div class="text">
                <!-- newsletter headline-->
                <div class="header">NEWSLETTER</div>
                <!-- newsletter text-->
                <p>Keep up on our always evolving product features and technology&period; Enter your e-mail and subscribe to our newsletter&period;</p>
              </div>
              <!-- newsletter form-->
              <div class="subscribe">
                <form>
                  <div ng-show="message" class="alert alert-success">{{message}}</div>
                  <input type="text" ng-model="email" placeholder="Email Address">
                  <input type="submit" ng-click="requestNews(email)" class="styler_bg_color">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="container">
          <div class="row">
            <!-- enter copyright information here-->
            <div class="copyrights">&copy; Copyright <a href="//prestie.co">Prestie</a> 2014&period; All rights reserved&period;</div>
          </div>
        </div>
      </div>
    </div>
    <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
            <h4 id="myModalLabel" class="modal-title">Ryan and Surat</h4>
          </div>
          <div class="modal-body">Prestie was co-founded by Ryan Borker, who serves as CEO, and Surat Teerapittayanon, who serves as CTO.  They met each other at a hackathon at MIT and proceeded to take second place.  Afterwards, they continued to build and work together until deciding to ‘go for it’ with Prestie.  Surat brings unparalleled technical skills, with a dual degree and masters in Computer Science and Math from MIT, where he won the PokerBots competition.  He currently is pursuing his PhD in Computer Science at Harvard.  Ryan brings business acumen from his nearly 4 years consulting at BCG.  His time at BCG’s think tank, the Strategy Institute, sharpened his ability to think about important trends and opportunities.  As an MBA at MIT Sloan, he has focused exclusively on learning more about entrepreneurship.</div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/style-switcher/style-switcher.js"></script>
    <script type="text/javascript" src="js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="js/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="js/jquery.carouFredSel-6.2.1.js"></script>
    <script type="text/javascript" src="//www.google.com/jsapi"></script>
    <script type="text/javascript" src="js/jquery.easy-pie-chart.js"></script>
    <script type="text/javascript" src="js/library.js"></script>
    <script type="text/javascript" src="js/function.js"></script>
    <script src="/js/partials.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>