!!! 5
html
  head
    meta(charset='utf-8')
    title
      | Inside Page - bizStrap ONE - Business and Infographics Themes for Twitter Bootstrap
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(type='text/css', rel='stylesheet', href='css/bootstrap.css')
    link(type='text/css', rel='stylesheet', href='css/bootstrap-theme.css')
    link(type='text/css', rel='stylesheet', href='js/rs-plugin/css/settings.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600,700,800', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700', rel='stylesheet', type='text/css')
    link(type='text/css', rel='stylesheet', href='css/style.css')
    link(type='text/css', rel='stylesheet', href='css/font-awesome.css')
    link(type='text/css', rel='stylesheet', href='css/media.css')
    link(type='text/css', rel='stylesheet', href='css/jquery.fancybox-1.3.4.css')
  body
    #container.main
      #out
        #home_marker
        #header
          .inner
            // start top grey bar
            .top
              .container
                .row
                  .col-md-12.col-xs-12.col-sm-12
                    .contacts_block
                      // edit social icons here
                      ul.social_links.clearfix
                        li
                          a.fb.styler_bg_color(href='#')
                        li
                          a.tw.styler_bg_color(href='#')
                        li
                          a.pi.styler_bg_color(href='#')
                        li
                          a.in.styler_bg_color(href='#')
                        li
                          a.share.styler_bg_color(href='#')
                      // edit phone number here
                      .phone.styler_color
                        | CALL US TOLL FREE
                        span 866&period;877&period;8899
                      .clear
              a.scrollup(href='#')
            // /end top grey bar
            // start logo and nav area
            .bottom
              .container
                .row
                  .col-md-2.col-xs-12.col-sm-2
                    // your logo goes here
                    a#logo(href='#')
                      img(src='img/logo.png', alt='')
                  .col-md-10.col-xs-12.col-sm-10
                    #top_menu
                      .navbar
                        a.btn.navbar-btn.navbar-toggle(data-toggle='collapse', data-target='.navbar-collapse')
                          span.menu-btn-name Menu
                          span.icon-bar
                          span.icon-bar
                          span.icon-bar
                        .navbar-collapse
                          ul.nav.nav-pills
                            // navigation menus here
                            li
                              a.styler_hover_bg_color.styler_active_bg_color.styler_hover_color.styler_active_color(href='#home_anchor') Home
                            li
                              a.styler_hover_bg_color.styler_active_bg_color.styler_hover_color.styler_active_color(href='#features_anchor') FEATURES
                            li.dropdown.styler_parent_active.active
                              a.dropdown-toggle.styler_hover_bg_color.styler_active_bg_color.styler_hover_color.styler_active_color(href='#', data-toggle='dropdown') External pages
                              ul.dropdown-menu
                                li
                                  a.styler_hover_bg_color.styler_active_bg_color.styler_hover_color.styler_active_color(href='library.html') Info Graphics Library
                                li.styler_parent_active.active
                                  a.styler_hover_bg_color.styler_active_bg_color.styler_hover_color.styler_active_color(href='inside.html') Inside Page
                            li
                              a.styler_hover_bg_color.styler_active_bg_color.styler_hover_color.styler_active_color(href='#portfolio_anchor') PORTFOLIO
                            li
                              a.styler_hover_bg_color.styler_active_bg_color.styler_hover_color.styler_active_color(href='#blog_anchor') BLOG
                            li
                              a.styler_hover_bg_color.styler_active_bg_color.styler_hover_color.styler_active_color(href='#about_anchor') ABOUT US
                            li
                              a.styler_hover_bg_color.styler_active_bg_color.styler_hover_color.styler_active_color(href='#contact_anchor') CONTACT
            // /end logo and nav area
        #wrapper
          .container
            ul.breadcrumbs.styler_bg_color
              li
                span Inside Page
            .row.article_block
              .col-md-12.col-xs-12.col-sm-12
                h1.styler_color bizStrap ONE Inside Page
              .col-md-8.col-xs-12.col-sm-6
                .article
                  h2 Lorem ipsum is simply
                  p
                    | Lorem ipsum dolor sit amet&comma; consectetur adipiscing elit&period; Nam lacinia diam a eros sollicitudin malesuada&period; Aenean varius sagittis ante&comma; vel tempor lectus porta a&period; Sed quis rhoncus justo&comma; sed scelerisque nibh&period; Nullam dapibus tristique massa vitae euismod&period; Cras vel massa sit amet mauris hendrerit gravida eget at felis&period; Etiam et iaculis libero&period;
                  p
                    | Mauris egestas&comma; est et faucibus auctor&comma; leo neque rhoncus eros&comma; a pretium lectus nunc vel ligula&period; Donec in pharetra nunc&period; Mauris bibendum laoreet neque in faucibus&period; Phasellus aliquam massa posuere&comma; blandit lorem ac&comma; ornare lectus&period; Cras lectus orci&comma; eleifend eget lectus eget&comma; rutrum viverra lectus&period; Donec cursus egestas felis nec semper&period;
              .col-md-4.col-xs-12.col-sm-6
                .details
                  .name.styler_color Requirmement and Details
                  ul.links
                    li
                      .name.styler_bg_color
                        i.styler_border_color
                        | Download Link&colon;
                      .desc
                        a.styler_color(href='#') www&period;themeleaf&period;com
                    li
                      .name.styler_bg_color
                        i.styler_border_color
                        | Documentation&colon;
                      .desc
                        a.styler_color(href='#') click here
                    li
                      .name.styler_bg_color
                        i.styler_border_color
                        | Supported Browsers&colon;
                      .desc
                        span IE&comma; Firefox&comma; Safari&comma; Chrome
                    li
                      .name.styler_bg_color
                        i.styler_border_color
                        | Devices Supported&colon;
                      .desc iPhone 4&comma; 4s&comma; 5&comma; iPad 1&comma; iPad 2&comma; iPad 3&comma; iPad 4&comma; iPad Mini
                  //
                    						<div class="note">
                                                                                                                <div class="name">Devices Supported: </div>
                                                                                                                <div class="desc">iPhone 4, 4s, 5, iPad 1, iPad 2, iPad 3, iPad 4, iPad Mini</div>
                                                                                                        </div>
              .clear
            #portfolio_marker
            .mod.row
              .col-md-12.col-xs-12.col-sm-12
                .caption PORTFOLIO
                .carousel.portfolio
                  ul
                    li
                      a.photo.fancy-video.styler_parent(href='http://www.youtube.com/watch?v=ucTIGBH3Ehw')
                        span.img
                          i.styler_bg_color
                          img(src='img/img2.jpg', alt='')
                        span.text.styler_hover_border_color
                          i.styler_border_color
                          span.name Project &num;1
                          span.desc web design
                      a.photo.fancy.styler_parent(href='img/img.jpg')
                        span.img
                          i.styler_bg_color
                          img(src='img/img.jpg', alt='')
                        span.text.styler_hover_border_color
                          i.styler_border_color
                          span.name Project &num;2
                          span.desc application development
                    li
                      a.photo.fancy.styler_parent(href='img/img.jpg')
                        span.img
                          i.styler_bg_color
                          img(src='img/img.jpg', alt='')
                        span.text.styler_hover_border_color
                          i.styler_border_color
                          span.name Project &num;2
                          span.desc application development
                      a.photo.fancy.styler_parent(href='img/img3.jpg')
                        span.img
                          i.styler_bg_color
                          img(src='img/img3.jpg', alt='')
                        span.text.styler_hover_border_color
                          i.styler_border_color
                          span.name Project &num;3
                          span.desc software development
                    li
                      a.photo.fancy.styler_parent(href='img/img3.jpg')
                        span.img
                          i.styler_bg_color
                          img(src='img/img3.jpg', alt='')
                        span.text.styler_hover_border_color
                          i.styler_border_color
                          span.name Project &num;3
                          span.desc software development
                      a.photo.fancy.styler_parent(href='img/img4.jpg')
                        span.img
                          i.styler_bg_color
                          img(src='img/img4.jpg', alt='')
                        span.text.styler_hover_border_color
                          i.styler_border_color
                          span.name Project &num;4
                          span.desc software development
                    li
                      a.photo.fancy.styler_parent(href='img/img4.jpg')
                        span.img
                          i.styler_bg_color
                          img(src='img/img4.jpg', alt='')
                        span.text.styler_hover_border_color
                          i.styler_border_color
                          span.name Project &num;4
                          span.desc software development
                      a.photo.fancy.styler_parent(href='img/img.jpg')
                        span.img
                          i.styler_bg_color
                          img(src='img/img.jpg', alt='')
                        span.text.styler_hover_border_color
                          i.styler_border_color
                          span.name Project &num;2
                          span.desc application development
                  a.left_arr.styler_hover_bg_color(href='#')
                  a.right_arr.styler_hover_bg_color(href='#')
          #map
        #empty
    #footer
      .top
        .container
          .row
            .col-md-4.col-xs-12.col-sm-12
              a.logo(href='#')
                img(src='img/logo_white.png', alt='')
              .text
                p
                  | Curabitur sodales ligula in libero&period; Curabitur tortor&period; Pellentesque nibh&period; Aenean quam&period; In scelerisque sem at dolor&period; Maecenas mattis&period; Sed convallis tristique sem&period; Proin ut ligula vel nunc egestas porttitor&period; Pellentesque nibh&period;
            .col-md-4.col-xs-12.col-sm-12
              .text
                .header DISCLAIMER
                p
                  | Maecenas mattis&period; Sed convallis tristique sem&period; Proin ut ligula vel nunc egestas porttitor&period; Pellentesque nibh&period;
                p
                  | Curabitur sodales ligula in libero&period; Curabitur tortor&period; Pellentesque nibh&period; Aenean quam&period; In scelerisque sem at dolor&period; Maecenas mattis&period; Sed convallis tristique sem&period; Proin ut ligula vel nunc egestas porttitor&period; Pellentesque nibh&period;
            .col-md-4.col-xs-12.col-sm-12
              .text
                .header NEWSLETTER
                p
                  | Keep up on our always evolving product features and technology&period; Enter your e-mail and subscribe to our newsletter&period;
              .subscribe
                form(action='/', method='post')
                  input(type='text', placeholder='Email Address')
                  input.styler_bg_color(type='submit', value='GO')
      .bottom
        .container
          .row
            .copyrights &copy; Copyright ThemeLeaf 2013&period; All rights reserved&period;
    script(type='text/javascript', src='js/jquery-1.8.3.min.js')
    script(type='text/javascript', src='js/jquery-ui.min.js')
    script(type='text/javascript', src='js/bootstrap.js')
    script(type='text/javascript', src='js/style-switcher/style-switcher.js')
    script(type='text/javascript', src='js/rs-plugin/js/jquery.themepunch.revolution.js')
    script(type='text/javascript', src='js/rs-plugin/js/jquery.themepunch.plugins.min.js')
    script(type='text/javascript', src='js/jquery.carouFredSel-6.2.1.js')
    script(type='text/javascript', src='http://www.google.com/jsapi')
    script(type='text/javascript', src='js/jquery.easy-pie-chart.js')
    script(type='text/javascript', src='js/library.js')
    script(type='text/javascript', src='js/function.js')
    script(type='text/javascript', src='js/jquery.fancybox-1.3.4.pack.js')
    script(type='text/javascript', src='js/jquery.easing-1.3.pack.js')
    script(type='text/javascript', src='js/jquery.mousewheel-3.0.4.pack.js')
