<!DOCTYPE html>
<html>
  <head>
    <title>Prestie</title>
    <link type="text/css" rel="stylesheet" href="css-subset/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- FontAwesome - http://fortawesome.github.io/Font-Awesome/-->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- jQueryMobileCSS - original without styling-->
    <link rel="stylesheet" href="css/jquerymobile.css">
    <!-- nativeDroid core CSS-->
    <link rel="stylesheet" href="css/jquerymobile.nativedroid.css">
    <!-- nativeDroid: Light/Dark-->
    <link id="jQMnDTheme" rel="stylesheet" href="css/jquerymobile.nativedroid.dark.css">
    <!-- nativeDroid: Color Schemes-->
    <link id="jQMnDColor" rel="stylesheet" href="css/jquerymobile.nativedroid.color.blue.css">
    <!-- jQuery / jQueryMobile Scripts-->
    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="stylesheet" href="/css/app.css">
    <script src="js/async.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
    <script>
      window.brunch = window.brunch || {};
      window.brunch['auto-reload'] = {
        enabled: true
      };
    </script>
    <script>
      window.fbAsyncInit = function() {
        // init the FB JS SDK
        FB.init({
          appId      : '636457043051998',                        // App ID from the app dashboard
          channelUrl : '', // Channel file for x-domain comms
          status     : true,                                 // Check Facebook Login status
          xfbml      : true                                  // Look for social plugins on the page
        });
        
        // Additional initialization code such as adding Event Listeners goes here
      };
      
      // Load the SDK asynchronously
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/all.js";
         fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));  
      
    </script>
    <script src="/js/kinvey-html5-1.1.2.js"></script>
    <script src="/js/vendor.js"></script>
  </head>
  <body>
    <div data-role="page" data-theme="b" ng-controller="MobileMainController">
      <div id="popupDialog" data-role="popup" data-theme="b">
        <div data-role="header" data-theme="b">
          <h1>Why do I need to connect with Facebook?</h1>
        </div>
        <div data-role="content" data-theme="b">
          <p>Prestie lets you discover your strengths through your friends. The easiest way to do that is through facebook, though in the future we hope to come up with other ways also. Rest assured your data is safe with us.</p>
          <div class="showastabs center nobg"><a href="#" data-rel="back" data-icon="ok" data-iconpos="left" data-role="button" data-inline="true">Okay</a></div>
        </div>
      </div>
      <div data-role="content">
        <div class="inset center-wrapper">
          <div class="margin-bottom-80"></div><img src="/img/splash.png">
          <h1>Discover your hidden strengths</h1>
        </div>
        <div ng-hide="loading" class="message info center-wrapper"><i class="icon-lightbulb"></i>
          <p>Prestie lets you rate yourself and your friends to discover your strengths and unlock you potential</p>
        </div>
        <div ng-show="loading" class="message info center-wrapper"><i class="icon-spinner"></i>
          <p>{{loading}}</p>
        </div>
        <form class="center-wrapper">
          <div class="inset"><a ng-click="connectFacebook()" data-role="button"> 
              <p><i style="font-size:20px;" class="icon-facebook"> </i>Connect with facebook</p></a></div>
        </form>
        <div class="inset center-wrapper"><a href="#popupDialog" data-rel="popup" data-position-to="window" data-role="button" data-transition="pop" data-inline="true">            <i style="font-size:25px;" class="icon-question-sign"></i></a></div>
        <div class="inset center-wrapper"></div>
        <div class="inset">
          <div class="message info"><i class="icon-info-sign"></i>
            <p>Start by rating yourself. Answer the questions before time runs out. Don't worry this will only take a minute.</p>
          </div>
        </div>
        <ul data-role="listview" data-inset="false" data-icon="false" data-divider-theme="b">
          <li data-role="list-divider">Demos</li>
          <li><a href="text.html" data-ajax="false"><i class="icon-align-left"></i>Text Elements</a></li>
          <li><a href="headerfooter.html" data-ajax="false"><i class="icon-angle-down"></i>Header &amp; Footer</a></li>
          <li><a href="tables.html" data-ajax="false"><i class="icon-table"></i>Tables</a></li>
          <li><a href="dialogsnpopups.html" data-ajax="false"><i class="icon-external-link"></i>Dialogs &amp; Popups</a></li>
          <li><a href="panels.html" data-ajax="false"><i class="icon-tasks"></i>Panels</a></li>
          <li><a href="autocomplete.html" data-ajax="false"><i class="icon-filter"></i>Autocomplete</a></li>
          <li><a href="collapsible.html" data-ajax="false"><i class="icon-chevron-up"></i>Collapsible</a></li>
          <li><a href="accordions.html" data-ajax="false"><i class="icon-chevron-right"></i>Accordions</a></li>
          <li><a href="listviews.html" data-ajax="false"><i class="icon-list"></i>Listviews</a></li>
          <li><a href="forms.html" data-ajax="false"><i class="icon-external-link"></i>Forms</a></li>
          <li data-role="list-divider">Experimental</li>
          <li><a href="cards.html" data-ajax="false"><i class="icon-reorder"></i>Cards</a></li>
          <li><a href="gallery.html" data-ajax="false"><i class="icon-picture"></i>Gallery</a></li>
          <li><a href="homescreen.html" data-ajax="false"><i class="icon-home"></i>Homescreen</a></li>
          <li data-role="list-divider">Information</li>
          <li><a href="gettingstarted.html" data-ajax="false"><i class="icon-magic"></i>Getting started</a></li>
          <li><a href="features.html" data-ajax="false"><i class="icon-lightbulb"></i>Features</a></li>
          <li><a href="colorsandstyles.html" data-ajax="false"><i class="icon-tint"></i>Colors &amp; Styles</a></li>
          <li><a href="icons.html" data-ajax="false"><i class="icon-fire"></i>Icons</a></li>
          <li><a href="license.html" data-ajax="false"><i class="icon-legal"></i>Credits &amp; License</a></li>
        </ul>
      </div>
    </div>
  </body>
  <script src="/js/partials.js"></script>
  <script src="/js/app.js"></script>
</html>