
<div ng-show="warning" class="message warning center-wrapper"><i class="icon-warning-sign"></i>
  <p>{{warning}}</p>
</div>
<div ng-show="info" class="message info"><i class="icon-lightbulb"></i>
  <p>{{info}}</p>
</div>
<div ng-show="error" class="message error"><i class="icon-exclamation-sign"></i>
  <p>{{error}}</p>
</div>
<div ng-show="success" class="message success"><i class="icon-ok"></i>
  <p>{{success}}</p>
</div>