#wrapper(ng-controller="MainController")
  // slider start
  #main_slider.fullwidthbanner-container
    .fullwidthbanner
      ul
        // slide 1
        li.slide1(data-transition='slotzoom-horizontal', data-slotamount='5', data-masterspeed='300')
          // slide 1 main image
          img(alt='', src='img/slide1.jpg')
          .caption.sft(data-x='15', data-y='60', data-speed='2500', data-start='1000', data-easing='easeInBack')
            // slide 1 caption 1
            p.cap-1 WHATEVER IT IS&comma; BIZSTRAP ONE CAN HELP YOU ACHEIVE IT&period;
          .caption.sfl(data-x='15', data-y='100', data-speed='1500', data-start='1000', data-easing='easeInBack')
            // slide 1 caption 2
            p.cap-2
              span WHAT WOULD YOU DO
              br
              span IF YOU HAD THE WORLD
              br
              span ON A STRING&quest;
          .caption.sfl(data-x='15', data-y='280', data-speed='1500', data-start='1000', data-easing='easeInBack')
            // slide 1 caption 3
            p.cap-3
              | bizStrap ONE is designed specifically to help your business take off&period;
              br
              | Elegant design and amazing built-in tools help you bring your vision to world&period;
        // slide 2
        li.slide2(data-transition='boxfade', data-slotamount='5', data-masterspeed='300')
          // slide 2 main image
          img(alt='', src='img/slide2.jpg')
          .caption.sft(data-x='15', data-y='40', data-speed='1500', data-start='400', data-easing='easeInBack')
            // slide 2 caption 1
            p.cap-1
              | STATISTICS SAY YOU HAVE 3 SECONDS TO
              br
              | CAPTURE YOUR WEBSITE VISITOR&rsquor;S ATTENTION&period;
          .caption.sfl(data-x='15', data-y='115', data-speed='1500', data-start='700', data-easing='easeInBack')
            // slide 2 caption 2
            p.cap-2
              span HOW WILL YOU MAKE
              br
              span THOSE SECONDS COUNT&quest;
          .caption.sfl(data-x='15', data-y='245', data-speed='1500', data-start='1000', data-easing='easeInBack')
            // slide 2 caption 3
            p.cap-3
              | bizstrap One includes an entire library of awesome
              br
              | info graphics that grab site visitor&rsquor;s attention&comma; and
              br
              | helps you tell your story in a visually compelling way
              br
              | that produces results&period;
          .caption.sfr(data-x='480', data-y='40', data-speed='2000', data-start='700', data-easing='easeInBack')
            // slide 2 layer image 1
            img(src='img/graph2_1.png', alt='')
          .caption.sfr(data-x='480', data-y='175', data-speed='2000', data-start='1000', data-easing='easeInBack')
            // slide 2 layer image 2
            img(src='img/graph2_2.png', alt='')
          .caption.sfr(data-x='480', data-y='245', data-speed='2000', data-start='1300', data-easing='easeInBack')
            // slide 2 layer image 3
            img(src='img/graph2_3.png', alt='')
          .caption.sfr(data-x='480', data-y='300', data-speed='2000', data-start='1700', data-easing='easeInBack')
            // slide 2 layer image 4
            img(src='img/graph2_4.png', alt='')
          .caption.sft(data-x='820', data-y='25', data-speed='2000', data-start='1900', data-easing='easeInBack')
            // slide 2 layer image 5
            img(src='img/graph2_6.png', alt='')
          .caption.sfb(data-x='820', data-y='170', data-speed='2000', data-start='2200', data-easing='easeInBack')
            // slide 2 layer image 6
            img(src='img/graph2_5.png', alt='')
          .caption.sft.hidden-phone(data-x='585', data-y='120', data-speed='1500', data-start='100', data-easing='easeInBack')
            // slide 2 caption 4
            p.cap-4
              span.first 3
              br
              br
              br
              span.second seconds
        // slide 3
        li.slide3(data-transition='boxfade', data-slotamount='5', data-masterspeed='300')
          // slide 3 main image
          img(alt='', src='img/slide3.jpg')
          .caption.sft(data-x='15', data-y='75', data-speed='2500', data-start='1000', data-easing='easeInBack')
            // slide 3 caption 1
            p.cap-1 LOOKS AWESOME ON PRACTICALLY ALL DEVICES&period;
          .caption.sfl(data-x='15', data-y='115', data-speed='1500', data-start='1000', data-easing='easeInBack')
            // slide 3 caption 2
            p.cap-2
              span INCREDIBLY FRESH
              br
              span &amp; RESPONSIVE&excl;
          .caption.sfl(data-x='15', data-y='235', data-speed='1500', data-start='1000', data-easing='easeInBack')
            // slide 3 caption 3
            p.cap-3
              | bizStrap ONE packs incredibly fresh design
              br
              | and looks awesome on practically any device&comma;
              br
              | including computers&comma; tablets and phones&period;
          .caption.sfb(data-x='480', data-y='75', data-speed='2000', data-start='1000', data-easing='easeInBack')
            // slide 3 layer image 1
            img(src='img/devices.png', alt='')
  // /end slider
  .container
    // call to action bar
    .order_block
      i
      a.order_btn.styler_bg_color(href='#') BUY NOW
      span Add a call to action bar anywhere&excl;
    // start infogrphics bar
    #features_marker
    .infograph
      sup.styler_bg_color
      // infographics bar headline
      .header.styler_color AWESOME INFOGRAPHICS
      .row
        // infographic column 1
        .col-md-3.col-xs-3.col-sm-3
          .graph
            .graph_inner
              // infographic column 1 - large number
              .large_num.styler_color 321
          .desc.styler_bg_color
            i.styler_border_color
            // infographics column 1 headline
            .name FACT 1
            // infographics column 1 text body
            .text Number of Twitter Bootstrap sites that go live every hour&period;
        // infographic column 2
        .col-md-3.col-xs-3.col-sm-3
          .graph
            .graph_inner
              // infographic column 2 - contrasting icons
              .progress_bars_with_image.styler_infograph(data-number='8', data-value='5', data-icon='icon-male', data-height='40', data-color='#0eae9b')
              // infographic column 2 - contrasting icons caption
              .progress_bars_with_image_title.styler_color 5 in every 8
          .desc.styler_bg_color
            i.styler_border_color
            // infographics column 2 headline
            .name FACT 2
            // infographics column 2 text body
            .text New developers learning Twitter Bootstrap each month&period;
        // infographic column 3
        .col-md-3.col-xs-3.col-sm-3
          .graph
            .graph_inner
              // infogrphic column 3 progress bars
              .progress_bars_block
                // progress bar caption
                .progress_bars_caption.styler_color WEBSITE DESIGN &amp; DEVELOPMENT
                // progress bar
                .progress_bars.horizontal.style1.styler_infograph(data-width='220', data-height='15', data-color='#0eae9b', data-title='inner', data-value='75%')
                // progress bar caption
                .progress_bars_caption.styler_color iOS DEVELOPMENT
                // progress bar
                .progress_bars.horizontal.style1.styler_infograph(data-width='220', data-height='15', data-color='#0eae9b', data-title='inner', data-value='60%')
                // progress bar caption
                .progress_bars_caption.styler_color INFO GRAPHICS
                // progress bar
                .progress_bars.horizontal.style1.styler_infograph(data-width='220', data-height='15', data-color='#0eae9b', data-title='inner', data-value='50%')
          .desc.styler_bg_color
            i.styler_border_color
            // infographics column 3 headline
            .name FACT 3
            // infographics column 3 text body
            .text Web developers prefer working with Twitter Bootstrap&period;
        // infographic column 4
        .col-md-3.col-xs-3.col-sm-3
          .graph
            .graph_inner
              // infogrphic column 4 pie chart
              .easy-pie-chart.styler_infograph(data-percent='70', data-trackcolor='#6ed1ff', data-color='#0eae9b', data-linewidth='25', data-size='126', data-cap='butt')
          .desc.styler_bg_color
            i.styler_border_color
            // infographics column 4 headline
            .name FACT 4
            // infographics column 4 text body
            .text Percent of Twitter Bootstrap websites created from templates&period;
    // /end infographics bar
    // start portfolio
    #portfolio_marker
    .mod.row
      // portfolio headline
      .col-md-12.col-xs-12.col-sm-12
        .caption.styler_color PORTFOLIO
        .carousel.portfolio
          ul
            li
              a.photo.styler_parent(href='#')
                // portfolio image
                span.img
                  i.styler_bg_color
                  img(src='img/img2.jpg', alt='')
                span.text.styler_hover_border_color
                  i.styler_border_color
                  // portfolio item name
                  span.name Project &num;1
                  // portfolio description
                  span.desc web design
            li
              a.photo.styler_parent(href='#')
                // portfolio image
                span.img
                  i.styler_bg_color
                  img(src='img/img.jpg', alt='')
                span.text.styler_hover_border_color
                  i.styler_border_color
                  // portfolio item name
                  span.name Project &num;2
                  // portfolio description
                  span.desc application development
            li
              a.photo.styler_parent(href='#')
                // portfolio image
                span.img
                  i.styler_bg_color
                  img(src='img/img3.jpg', alt='')
                span.text.styler_hover_border_color
                  i.styler_border_color
                  // portfolio item name
                  span.name Project &num;3
                  // portfolio description
                  span.desc software development
            li
              a.photo.styler_parent(href='#')
                // portfolio image
                span.img
                  i.styler_bg_color
                  img(src='img/img4.jpg', alt='')
                span.text.styler_hover_border_color
                  i.styler_border_color
                  // portfolio item name
                  span.name Project &num;4
                  // portfolio description
                  span.desc software development
          a.left_arr.styler_hover_bg_color(href='#')
          a.right_arr.styler_hover_bg_color(href='#')
    // /end portfolio
    // start blog
    #blog_marker
    .mod.row
      // blog headline
      .col-md-12.col-xs-12.col-sm-12
        .caption.styler_color BLOG
        .carousel.articles
          ul
            li
              // blog post image
              a.img(href='#')
                img(src='img/img4.jpg', alt='')
              .text
                // blog post headline
                .name A Fresh&comma; Clean Twitter Bootstrap Theme
                // blog post date
                .date January 15&comma; 2013
                // blog post summary text
                .desc
                  | Lorem ipsum dolor sit amet&comma; consectetur adipiscing elit&period; Etiam adipiscing&comma; metus eu imperdiet ornare&comma; urna lorem porttitor tortor&comma; at condimentum massa erat sed sem&period; Lorem ipsum dolor sit amet&comma; consectetur adipiscing elit&period; Etiam adipiscing&period;
                .more
                  // link to blog post
                  a.styler_color(href='#')
                    | Read more
                    i.icon-circle-arrow-right
            li
              // blog post image
              a.img(href='#')
                img(src='img/img5.jpg', alt='')
              .text
                // blog post headline
                .name A Fresh&comma; Clean Twitter Bootstrap Theme
                // blog post date
                .date January 15&comma; 2013
                // blog post summary text
                .desc
                  | Lorem ipsum dolor sit amet&comma; consectetur adipiscing elit&period; Etiam adipiscing&comma; metus eu imperdiet ornare&comma; urna lorem porttitor tortor&comma; at condimentum massa erat sed sem&period; Lorem ipsum dolor sit amet&comma; consectetur adipiscing elit&period; Etiam adipiscing&period;
                .more
                  // link to blog post
                  a.styler_color(href='#')
                    | Read more
                    i.icon-circle-arrow-right
            li
              // blog post image
              a.img(href='#')
                img(src='img/img6.jpg', alt='')
              .text
                // blog post headline
                .name A Fresh&comma; Clean Twitter Bootstrap Theme
                // blog post date
                .date January 15&comma; 2013
                // blog post summary
                .desc
                  | Lorem ipsum dolor sit amet&comma; consectetur adipiscing elit&period; Etiam adipiscing&comma; metus eu imperdiet ornare&comma; urna lorem porttitor tortor&comma; at condimentum massa erat sed sem&period; Lorem ipsum dolor sit amet&comma; consectetur adipiscing elit&period; Etiam adipiscing&period;
                .more
                  // link to blog post
                  a.styler_color(href='#')
                    | Read more
                    i.icon-circle-arrow-right
            li
              // blog post image
              a.img(href='#')
                img(src='img/img7.jpg', alt='')
              .text
                // blog post headline
                .name A Fresh&comma; Clean Twitter Bootstrap Theme
                // blog post date
                .date January 15&comma; 2013
                // blog post summary
                .desc
                  | Lorem ipsum dolor sit amet&comma; consectetur adipiscing elit&period; Etiam adipiscing&comma; metus eu imperdiet ornare&comma; urna lorem porttitor tortor&comma; at condimentum massa erat sed sem&period; Lorem ipsum dolor sit amet&comma; consectetur adipiscing elit&period; Etiam adipiscing&period;
                .more
                  // link to blog post
                  a.styler_color(href='#') Read more
          a.left_arr.styler_hover_bg_color(href='#')
          a.right_arr.styler_hover_bg_color(href='#')
    // /end blog
    // start about us
    #about_marker
    #about_block.mod.row
      // column 1 caption
      .col-md-12.col-xs-12.col-sm-12
        .caption.styler_color ABOUT US
      .col-md-6.col-xs-12.col-sm-6
        .article
          // column 1 headline
          h1 WHO WE ARE
          // column 1 text
          p
            | Lorem ipsum dolor sit amet&comma; consectetur adipiscing elit&period; Integer lorem quam&comma; adipiscing condimentum tristique vel&comma; eleifend sed turpis&period; Curabitur pellentesque massa eu nulla consequat sed porttitor arcu porttitor&period;
          p
            | Quisque volutpat pharetra felis&comma; eu cursus lorem molestie vitae&period; Nulla vehicula&comma; lacus ut suscipit fermentum&comma; turpis felis ultricies dui&comma; ut rhoncus libero augue at libero&period; Morbi ut arcu dolor&period; Maecenas id nulla nec nibh viverra vehicula&period; Cras feugiat&comma; magna eu lacinia ullamcorper&comma; augue est sodales nibh&comma; ut vulputate augue est sed nunc&period; Suspendisse sagittist&period;
          p
            | Maecenas id nulla nec nibh viverra vehicula&period; Cras feugiat&comma; magna eu lacinia ullamcorper&comma; augue est sodales nibh&comma; ut vulputate augue est sed nunc&period; Suspendisse sagittist&period;
      .col-md-6.col-xs-12.col-sm-6
        .work
          // column 2 caption
          .header WHAT WE DO
          // steps/process boxes
          ul.styled_list.styler_infograph(data-type='process_box')
            li
              // box 1 caption
              .name.styler_color PLAN
              // box 1 text
              .desc Lorem ipsum dolor sit amet&comma; consectetur adipiscing elit&period;
            li
              // box 2 caption
              .name.styler_color DEVELOP &amp; TEST
              // box 2 text
              .desc Lorem ipsum dolor sit amet&comma; consectetur adipiscing elit&period;
            li
              // box 3 caption
              .name.styler_color IMPLEMENT
              // box 3 text
              .desc Lorem ipsum dolor sit amet&comma; consectetur adipiscing elit&period;
    // /end about us
    // start team
    .mod.row
      // team headline
      .col-md-12.col-xs-12.col-sm-12
        .caption.styler_color MEET THE TEAM
      .col-md-12.col-xs-12.col-sm-12
        .team
          .person
            a.photo.styler_parent(href='#')
              // team member photo
              span.img
                i.styler_bg_color
                img(src='img/img7.jpg', alt='')
              span.text.styler_hover_border_color
                i.styler_border_color
                // team member name
                span.name John Doe
                // team member title
                span.desc President &amp; CEO
          .person
            a.photo.styler_parent(href='#')
              // team member photo
              span.img
                i.styler_bg_color
                img(src='img/img8.jpg', alt='')
              span.text.styler_hover_border_color
                i.styler_border_color
                // team member name
                span.name Cindy Thompson
                // team member title
                span.desc CFO
          .person
            a.photo.styler_parent(href='#')
              // team member photo
              span.img
                i.styler_bg_color
                img(src='img/img9.jpg', alt='')
              span.text.styler_hover_border_color
                i.styler_border_color
                // team memeber name
                span.name Jane anderson
                // team member title
                span.desc Art Director
    // /end team
    // start contact us
    #contact_marker
    .mod.row
      // contact us headline
      .col-md-12.col-xs-12.col-sm-12
        .caption.styler_color CONTACT US
      .col-md-8.col-xs-12.col-sm-8
        // contact us form
        .contact_form
          form(action='/', method='post')
            input(type='text', placeholder='Name')
            input(type='text', placeholder='Email Address')
            input(type='text', placeholder='Subject')
            textarea(placeholder='Message')
            input.styler_bg_color(type='submit', value='SUBMIT')
      .col-md-4.col-xs-12.col-sm-4
        .info
          // contact us address headline
          .header ADDRESS&comma; PHONE &amp; EMAIL
          .text
            // address details
            p &lcub;biz&rcub;strap ONE
            p 7800 East Mockingbird Lane
            p Suite 800
            p Dallas&comma; TX 75235
            p USA
            p p&period; 214&period;985&period;9000
            p f&period; 214&period;985&period;9003
            p Email&colon; hello&commat;bootsmart&period;com
        .info
          // contact us hours of operations headline
          .header HOURS OF OPERATION
          .text
            // hours of operations details
            p Monday&colon; 8am to 6pm 
            p Tuesday&colon; 8am to 6pm 
            p Wednesday&colon; 8am to 6pm 
            p Thursday&colon; 8am to 6pm 
            p Friday&colon; 8am to 6pm 
            p Saturday&colon; Closed 
            p Sunday&colon; Closed 
    // /end contact us
  // start map
  #map
  // /end map
#empty