script(type='text/javascript', src='js/jquery-1.8.3.min.js')
script(type='text/javascript', src='js/jquery-ui.min.js')
script(type='text/javascript', src='js/bootstrap.js')
script(type='text/javascript', src='js/style-switcher/style-switcher.js')
script(type='text/javascript', src='js/rs-plugin/js/jquery.themepunch.revolution.min.js')
script(type='text/javascript', src='js/rs-plugin/js/jquery.themepunch.plugins.min.js')
script(type='text/javascript', src='js/jquery.carouFredSel-6.2.1.js')
script(type='text/javascript', src='//www.google.com/jsapi')
script(type='text/javascript', src='js/jquery.easy-pie-chart.js')
script(type='text/javascript', src='js/library.js')
script(type='text/javascript', src='js/function.js')

script(src='/js/partials.js')
script(src='/js/app.js')
