!!! 5
html
  head
    include head.jade
  body(lang='en', ng-cloak)

    #container.main
      #out
        include header.jade 
        mixin header('')
        #wrapper
          .container(ng-controller="RequestController", ng-init="request={};")
            .alert.alert-success(ng-show="message")
              | {{message}} 
              a(href="/index.html") Back to Home
            .mod.row
              // contact us headline
              .col-md-12.col-xs-12.col-sm-12
                .caption.styler_color Get Started Now
              .col-md-12.col-xs-12.col-sm-12
                // contact us form
                .contact_form
                  form
                    input(type='text', ng-model="request.name", placeholder='Name')
                    input(type='text', ng-model="request.email", placeholder='Email Address')
                    input.styler_bg_color(type='submit', ng-click="requestInvite(request)", value='Get Started!', style="width:120px")
    // start footer
    //- include footer.jade 
    include foot.jade

