title Prestie
meta(charset='utf-8')
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name='description', content='')
meta(name='author', content='')
link(type='text/css', rel='stylesheet', href='css/bootstrap.css')
link(type='text/css', rel='stylesheet', href='css/bootstrap-theme.css')
link(type='text/css', rel='stylesheet', href='js/rs-plugin/css/settings.css')
link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600,700,800', rel='stylesheet', type='text/css')
link(href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700', rel='stylesheet', type='text/css')
link(type='text/css', rel='stylesheet', href='css/style.css')
link(type='text/css', rel='stylesheet', href='css/font-awesome.css')
link(type='text/css', rel='stylesheet', href='css/media.css')
link(rel='shortcut icon', href='img/favicon.png')

link(rel='stylesheet', href='/css/app.css')

//-script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
//if lte IE 7
  script(src='http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js')
//if lte IE 8
  script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
script.
  window.brunch = window.brunch || {};
  window.brunch['auto-reload'] = {
    enabled: true
  };

script(src='/js/kinvey-html5-1.1.2.min.js')
script(src='/js/vendor.js')
