mixin header(page)
  #header(ng-controller="HeaderController")
    .inner
      // start notification bar
      .notify-bar(ng-show="notificationMessage")
        .container
          .row
            .col-md-11.col-xs-11.col-sm-11
              // enter notification message here
              p
                | {{notificationMessage}}
            .col-md-1.col-xs-1.col-sm-1
              a.notify-close(href='#')
                i.icon-remove-sign
      // /end notification bar
      // start top grey bar
      //- .top
        .container
          .row
            .col-md-12.col-xs-12.col-sm-12
              .contacts_block
                // edit social icons here
                ul.social_links.clearfix
                  li
                    a.fb.styler_bg_color(href='#')
                  li
                    a.tw.styler_bg_color(href='#')
                  li
                    a.pi.styler_bg_color(href='#')
                  li
                    a.in.styler_bg_color(href='#')
                  li
                    a.share.styler_bg_color(href='#')
                // edit phone number here
                .phone.styler_color
                  | CALL US TOLL FREE 
                  span 866&period;877&period;8899
                .clear
        a.scrollup(href='#')
      // /end top grey bar
      // start logo and nav area
      .bottom
        .container
          .row
            .col-md-2.col-xs-12.col-sm-2
              // your logo goes here
              a#logo(href='/')
                img(src='img/logo.png', alt='')
            //- .col-md-10.col-xs-12.col-sm-10
              #top_menu
                .navbar
                  a.btn.navbar-btn.navbar-toggle(data-toggle='collapse', data-target='.navbar-collapse')
                    span.menu-btn-name Menu
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                  .navbar-collapse
                    ul.nav.nav-pills
                      // navigation menus here
                      //- li
                        a.styler_hover_bg_color.styler_active_bg_color.styler_hover_color.styler_active_color(href='#home_anchor') Home
                      //- li
                        a.styler_hover_bg_color.styler_active_bg_color.styler_hover_color.styler_active_color(href='#features_anchor') FEATURES
                      //- li.dropdown
                        a.dropdown-toggle.styler_hover_bg_color.styler_active_bg_color.styler_hover_color.styler_active_color(href='#', data-toggle='dropdown') External pages
                        ul.dropdown-menu
                          li
                            a.styler_hover_bg_color.styler_active_bg_color.styler_hover_color.styler_active_color(href='library.html') Info Graphics Library
                          li
                            a.styler_hover_bg_color.styler_active_bg_color.styler_hover_color.styler_active_color(href='inside.html') Inside Page
                      //- li
                        a.styler_hover_bg_color.styler_active_bg_color.styler_hover_color.styler_active_color(href='#portfolio_anchor') PORTFOLIO
                      //- li
                        a.styler_hover_bg_color.styler_active_bg_color.styler_hover_color.styler_active_color(href='#blog_anchor') BLOG
                      //- li
                        a.styler_hover_bg_color.styler_active_bg_color.styler_hover_color.styler_active_color(href='#about_anchor') ABOUT US
                      li(ng-show="'home'=='"+page+"'")
                        a.styler_hover_bg_color.styler_active_bg_color.styler_hover_color.styler_active_color(href='#contact_anchor') CONTACT
      // /end logo and nav area