!!! 5
html
  head
    include mobile_head
  body

    div(data-role='page', data-theme='b', ng-controller="MobileMainController")
      #popupDialog(data-role='popup', data-theme='b')
        div(data-role='header',data-theme='b')
          h1 Why do I need to connect with Facebook?
        div(data-role='content', data-theme='b')
          p Prestie lets you discover your strengths through your friends. The easiest way to do that is through facebook, though in the future we hope to come up with other ways also. Rest assured your data is safe with us.
          .showastabs.center.nobg
            a(href='#', data-rel='back', data-icon='ok', data-iconpos='left', data-role='button', data-inline='true') Okay
      //- div(data-role='header', data-position='fixed', data-tap-toggle='false', data-theme='b')
        h1 Prestie
        a(href='http://ldv.prestie.co/', data-ajax='false', target='_blank')
          img(src="/img/favicon.png", width="100%")
            //- i.icon-android
      div(data-role='content')
        .inset.center-wrapper
          .margin-bottom-80
          img(src="/img/splash.png")
          h1 Discover your hidden strengths
        .message.info.center-wrapper(ng-hide="loading")
          i.icon-lightbulb
          p Prestie lets you rate yourself and your friends to discover your strengths and unlock you potential
        .message.info.center-wrapper(ng-show="loading")
          i.icon-spinner
          p {{loading}}
        form.center-wrapper
          .inset
            a(ng-click="connectFacebook()",data-role="button") 
              p
                i.icon-facebook(style="font-size:20px;") 
                | Connect with facebook
         .inset.center-wrapper
            a(href='#popupDialog',data-rel='popup',data-position-to='window',data-role='button',data-transition='pop',data-inline='true')             
              i.icon-question-sign(style="font-size:25px;")
          .inset.center-wrapper
        .inset
          .message.info
            i.icon-info-sign
            p Start by rating yourself. Answer the questions before time runs out. Don't worry this will only take a minute.

        ul(data-role='listview', data-inset='false', data-icon='false', data-divider-theme='b')
          li(data-role='list-divider') Demos
          li
            a(href='text.html', data-ajax='false')
              i.icon-align-left
              | Text Elements
          li
            a(href='headerfooter.html', data-ajax='false')
              i.icon-angle-down
              | Header &amp; Footer
          li
            a(href='tables.html', data-ajax='false')
              i.icon-table
              | Tables
          li
            a(href='dialogsnpopups.html', data-ajax='false')
              i.icon-external-link
              | Dialogs &amp; Popups
          li
            a(href='panels.html', data-ajax='false')
              i.icon-tasks
              | Panels
          li
            a(href='autocomplete.html', data-ajax='false')
              i.icon-filter
              | Autocomplete
          li
            a(href='collapsible.html', data-ajax='false')
              i.icon-chevron-up
              | Collapsible
          li
            a(href='accordions.html', data-ajax='false')
              i.icon-chevron-right
              | Accordions
          li
            a(href='listviews.html', data-ajax='false')
              i.icon-list
              | Listviews
          li
            a(href='forms.html', data-ajax='false')
              i.icon-external-link
              | Forms
          li(data-role='list-divider') Experimental
          li
            a(href='cards.html', data-ajax='false')
              i.icon-reorder
              | Cards
          li
            a(href='gallery.html', data-ajax='false')
              i.icon-picture
              | Gallery
          li
            a(href='homescreen.html', data-ajax='false')
              i.icon-home
              | Homescreen
          li(data-role='list-divider') Information
          li
            a(href='gettingstarted.html', data-ajax='false')
              i.icon-magic
              | Getting started
          li
            a(href='features.html', data-ajax='false')
              i.icon-lightbulb
              | Features
          li
            a(href='colorsandstyles.html', data-ajax='false')
              i.icon-tint
              | Colors &amp; Styles
          li
            a(href='icons.html', data-ajax='false')
              i.icon-fire
              | Icons
          li
            a(href='license.html', data-ajax='false')
              i.icon-legal
              | Credits &amp; License
  include mobile_foot

