!!! 5
html
  head
    include mobile_head
  body(ng-cloak)
    div(data-role='page', data-theme='b', ng-controller="MobileProfileController")
      //- div(data-role='header', data-position='fixed', data-tap-toggle='false', data-theme='b')
        //- h1 Prestie
        a(href='http://ldv.prestie.co/', data-ajax='false', target='_blank')
          img(src="/img/favicon.png", width="100%")
            //- i.icon-android
      div(data-role='content')
        include mobile_message.jade
        .margin-bottom-20
        .inset(ng-show="success")
          form
            button(ng-click="continue()") Continue
        .inset(ng-show="question")
          .progress
            .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: {{+cur/+count*100}}%;')
             span {{cur}}/{{count}}
        .inset.center-wrapper
          img(ng-src="{{user.picture}}?width=80&height=80")
          h2 {{user._socialIdentity.facebook.name}}
          div(data-collapsed="false",data-role='collapsible',data-content-theme='b',data-theme='b')
            .margin-bottom-20
            h4 Your top 3 strengths
            div
              fieldset.ui-grid-b
                .ui-block-a
                  img(ng-src="{{user.picture}}?width=30&height=30")
                  p(data-theme='b') Strength 1
                .ui-block-b
                  img(ng-src="{{user.picture}}?width=30&height=30")
                  p(data-theme='b') Strength 2
                .ui-block-c
                  img(ng-src="{{user.picture}}?width=30&height=30")
                  p(data-theme='b') Strength 3
            .margin-bottom-20

          div(data-collapsed="false",data-role='collapsible',data-content-theme='b',data-theme='b')
            .margin-bottom-20
            h4 Your top 3 hidden strengths
            div
              fieldset.ui-grid-b
                .ui-block-a
                  img(ng-src="{{user.picture}}?width=30&height=30")
                  p(data-theme='b') Strength 1
                .ui-block-b
                  img(ng-src="{{user.picture}}?width=30&height=30")
                  p(data-theme='b') Strength 2
                .ui-block-c
                  img(ng-src="{{user.picture}}?width=30&height=30")
                  p(data-theme='b') Strength 3
            .margin-bottom-20
        .inset
          button(ng-click="charge()") Pay for Premium
        .inset(style="display:none;")
          form(action='/charge', method='POST')
            input(type="hidden", name="meta", value="hello")
            script.stripe-button(
              src='https://checkout.stripe.com/checkout.js', 
              data-key='pk_test_b999p8U7DqDLr9TTMbZZ3hof', 
              data-name='Prestie', 
              data-description='Premium ($4.99)', 
              data-amount='499')
          
  include mobile_foot
