!!! 5
html(ng-cloak)
  head
    include mobile_head
  body
    div(data-role='page', data-theme='b', ng-controller="MobileMainController")
      #popupDialog(data-role='popup', data-theme='b')
        div(data-role='header',data-theme='b')
          h1 Why do I need to connect with Facebook?
        div(data-role='content', data-theme='b')
          p Prestie lets you discover your strengths through your friends. The easiest way to do that is through facebook, though in the future we hope to come up with other ways also. Rest assured your data is safe with us.
          .showastabs.center.nobg
            a(href='#', data-rel='back', data-icon='ok', data-iconpos='left', data-role='button', data-inline='true') Okay
      //- div(data-role='header', data-position='fixed', data-tap-toggle='false', data-theme='b')
        h1 Prestie
        a(href='http://ldv.prestie.co/', data-ajax='false', target='_blank')
          img(src="/img/favicon.png", width="100%")
            //- i.icon-android
      div(data-role='content')
        include mobile_message.jade
        .inset.center-wrapper
          .margin-bottom-80
          img(src="/img/splash_white.png")
          h2 Discover your hidden strengths
        .message.warning(ng-hide="loading")
          i.icon-lightbulb
          p Prestie lets you rate yourself and your friends to discover your strengths and unlock you potential
        .message.success.center-wrapper(ng-show="loading")
          i.icon-spinner
          p {{loading}}
        form.center-wrapper
          .inset
            a(ng-click="connectFacebook()",data-role="button") 
              p
                i.icon-facebook(style="font-size:20px;") 
                | Connect with facebook
         .inset.center-wrapper
            a(href='#popupDialog',data-rel='popup',data-position-to='window',data-role='button',data-transition='pop',data-inline='true')             
              i.icon-question-sign(style="font-size:25px;")
          .inset.center-wrapper
        
  include mobile_foot