title Prestie

link(type='text/css', rel='stylesheet', href='css-subset/bootstrap.css')

meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
// FontAwesome - http://fortawesome.github.io/Font-Awesome/
link(rel='stylesheet', href='css/font-awesome.min.css')
// jQueryMobileCSS - original without styling
link(rel='stylesheet', href='css/jquerymobile.css')
// nativeDroid core CSS
link(rel='stylesheet', href='css/jquerymobile.nativedroid.css')
// nativeDroid: Light/Dark
link#jQMnDTheme(rel='stylesheet', href='css/jquerymobile.nativedroid.dark.css')
// nativeDroid: Color Schemes
link#jQMnDColor(rel='stylesheet', href='css/jquerymobile.nativedroid.color.blue.css')
// jQuery / jQueryMobile Scripts

link(rel='shortcut icon', href='img/favicon.png')

link(rel='stylesheet', href='/css/app.css')

script(src='js/async.js')
script(src='http://code.jquery.com/jquery-1.9.1.min.js')
script(src='http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js')

script.
  window.brunch = window.brunch || {};
  window.brunch['auto-reload'] = {
    enabled: true
  };
script
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '636457043051998',                        // App ID from the app dashboard
      channelUrl : '', // Channel file for x-domain comms
      status     : true,                                 // Check Facebook Login status
      xfbml      : true                                  // Look for social plugins on the page
    });

    // Additional initialization code such as adding Event Listeners goes here
  };

  // Load the SDK asynchronously
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));  

script(src='/js/kinvey-html5-1.1.2.js')
script(src='/js/vendor.js')
