!!! 5
html
  head
    include mobile_head
  body(ng-cloak)
    div(data-role='page', data-theme='b', ng-controller="MobileSelfRateController")
      //- div(data-role='header', data-position='fixed', data-tap-toggle='false', data-theme='b')
      //-   h1 Prestie
      //-   a(href='/', data-ajax='false', target='_blank')
      //-     i.icon-prestie
      //-       img(src="img/favicon.png")
      div(data-role='content')            
        include mobile_message.jade
        .margin-bottom-20
        .inset(ng-show="success")
          form
            button(ng-click="continue()") Continue
        .inset(ng-show="question")
          .progress
            .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: {{+cur/+count*100}}%;')
             span {{cur}}/{{count}}
        .inset.center-wrapper(ng-show="question")
          img(ng-src="{{user.picture}}?width=100&height=100")
          h1 {{question.question}}
          fieldset.ui-grid-a
            .ui-block-a
              button(data-theme='b', ng-click="answer(question,question.choices[0])") {{question.choices[0].choice}}
            .ui-block-b
              button(data-theme='b', ng-click="answer(question,question.choices[1])") {{question.choices[1].choice}}

  include mobile_foot

