.message.warning.center-wrapper(ng-show="warning")
  i.icon-warning-sign
  p {{warning}}
.message.info(ng-show="info")
  i.icon-lightbulb
  p {{info}}
.message.error(ng-show="error")
  i.icon-exclamation-sign
  p {{error}}
.message.success(ng-show="success")
  i.icon-ok
  p {{success}}