!!! 5
html
  head
    include mobile_head
  body(ng-cloak)
    div(data-role='page', data-theme='b', ng-controller="MobileSelectFriendsController")
      //- div(data-role='header', data-position='fixed', data-tap-toggle='false', data-theme='b')
        h1 Prestie
        a(href='http://ldv.prestie.co/', data-ajax='false', target='_blank')
          //- img(src="/img/favicon.png", width="100%")
          i.icon-ellipsis-vertical
      div(data-role='content')
        include mobile_message.jade
        ul(data-filter='true', data-filter-reveal='false', data-filter-theme='b',data-filter-placeholder='Find friends...', data-role='listview', data-inset='false', data-icon='false', data-divider-theme='b')
          li(ng-swipe-right="delete($index)",ng-click="select(friend)",ng-repeat="friend in friends")
            a
              img(ng-src='{{friend.picture}}?width=50&height=50')
              h2 {{friend.name}}
              p.ui-li-aside(ng-show="friend.selected")
                strong
                  i.icon-ok
      div(data-position='fixed', data-tap-toggle='false', data-role='footer', data-theme='b')
        div(data-role='navbar')
          ul
            li
              a(ng-click="done()") Get Started!

  include mobile_foot

