!!! 5
html
  head
    title nativeDroid - Theme for jQuery Mobile
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    // FontAwesome - http://fortawesome.github.io/Font-Awesome/
    link(rel='stylesheet', href='css/font-awesome.min.css')
    // jQueryMobileCSS - original without styling
    link(rel='stylesheet', href='css/jquerymobile.css')
    // nativeDroid core CSS
    link(rel='stylesheet', href='css/jquerymobile.nativedroid.css')
    // nativeDroid: Light/Dark
    link#jQMnDTheme(rel='stylesheet', href='css/jquerymobile.nativedroid.dark.css')
    // nativeDroid: Color Schemes
    link#jQMnDColor(rel='stylesheet', href='css/jquerymobile.nativedroid.color.green.css')
    // jQuery / jQueryMobile Scripts
    script(src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(src='http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js')
  body
    div(data-role='page', data-theme='b')
      #mypanel(data-role='panel', data-theme='b')
        ul(data-role='listview')
          li(data-role='list-divider') Your wishes
          li(data-icon='coffee')
            a(href='#') Need a Coffee
          li(data-icon='beer')
            a(href='#') Have a Beer
          li(data-icon='music')
            a(href='#') Play Music
          li(data-icon='fire')
            a(href='#') Make a fire
          li(data-icon='bullhorn')
            a(href='#') Shout it loud
          li(data-icon='group')
            a(href='#') Meet friends
          li(data-icon='trophy')
            a(href='#') Win a Trophy
      div(data-role='header', data-position='fixed', data-tap-toggle='false', data-theme='b')
        a(href='index.html', data-ajax='false')
          i.icon-ellipsis-vertical
        h1 Panels
      div(data-role='content')
        .inset
          h1 Panel Trigger
          a(href='#mypanel', data-role='button', data-icon='tasks', data-iconpos='left', data-inline='true') Open panel
          h2 Code
          h3 Link
          pre.
            \n<a href='#mypanel' data-role='button' data-icon='tasks' data-iconpos='left' data-inline='true'>Open panel</a>            
          h3
            | Panel
            code &num;mypanel
          pre.
            \n<div data-role='panel' id='mypanel' data-theme='b'>             ...            </div>            
