!!! 5
html
  head
    include mobile_head
  body
    div(data-role='page', data-theme='b')
      div(data-role='header', data-position='fixed', data-tap-toggle='false', data-theme='b')
        h1 Prestie
        a(href='http://ldv.prestie.co/', data-ajax='false', target='_blank')
          img(src="/img/favicon.png", width="100%")
            //- i.icon-android
      div(data-role='content')
        ul(data-role='listview', data-inset='false', data-icon='false', data-divider-theme='b')
          li(data-role='list-divider') Demos
          li
            a(href='text.html', data-ajax='false')
              i.icon-align-left
              | Text Elements
          li
            a(href='headerfooter.html', data-ajax='false')
              i.icon-angle-down
              | Header &amp; Footer
          li
            a(href='tables.html', data-ajax='false')
              i.icon-table
              | Tables
          li
            a(href='dialogsnpopups.html', data-ajax='false')
              i.icon-external-link
              | Dialogs &amp; Popups
          li
            a(href='panels.html', data-ajax='false')
              i.icon-tasks
              | Panels
          li
            a(href='autocomplete.html', data-ajax='false')
              i.icon-filter
              | Autocomplete
          li
            a(href='collapsible.html', data-ajax='false')
              i.icon-chevron-up
              | Collapsible
          li
            a(href='accordions.html', data-ajax='false')
              i.icon-chevron-right
              | Accordions
          li
            a(href='listviews.html', data-ajax='false')
              i.icon-list
              | Listviews
          li
            a(href='forms.html', data-ajax='false')
              i.icon-external-link
              | Forms
          li(data-role='list-divider') Experimental
          li
            a(href='cards.html', data-ajax='false')
              i.icon-reorder
              | Cards
          li
            a(href='gallery.html', data-ajax='false')
              i.icon-picture
              | Gallery
          li
            a(href='homescreen.html', data-ajax='false')
              i.icon-home
              | Homescreen
          li(data-role='list-divider') Information
          li
            a(href='gettingstarted.html', data-ajax='false')
              i.icon-magic
              | Getting started
          li
            a(href='features.html', data-ajax='false')
              i.icon-lightbulb
              | Features
          li
            a(href='colorsandstyles.html', data-ajax='false')
              i.icon-tint
              | Colors &amp; Styles
          li
            a(href='icons.html', data-ajax='false')
              i.icon-fire
              | Icons
          li
            a(href='license.html', data-ajax='false')
              i.icon-legal
              | Credits &amp; License
  include mobile_foot

