!!! 5
html
  head
    meta(charset='utf-8')
    title
      | Infographics Library - bizStrap ONE - Business and Infographics Themes for Twitter Bootstrap
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(type='text/css', rel='stylesheet', href='css/bootstrap.css')
    link(type='text/css', rel='stylesheet', href='css/bootstrap-theme.css')
    link(type='text/css', rel='stylesheet', href='js/rs-plugin/css/settings.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,700italic,400,600,700,800', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700', rel='stylesheet', type='text/css')
    link(type='text/css', rel='stylesheet', href='css/style.css')
    link(type='text/css', rel='stylesheet', href='css/font-awesome.css')
    link(type='text/css', rel='stylesheet', href='css/media.css')
  body
    #container
      #out
        #wrapper
          .container
            .infograph
              sup.styler_bg_color
              .header.styler_color AWESOME INFOGRAPHICS
              .row
                .col-md-3.col-xs-3.col-sm-3
                  .graph
                    .graph_inner
                      .large_num.styler_color 321
                  .desc.styler_bg_color
                    i.styler_border_color
                    .name LARGE NUMBERS
                    .text Number of Twitter Bootstrap sites that go live every hour&period;
                .col-md-3.col-xs-3.col-sm-3
                  .graph
                    .graph_inner
                      .progress_bars_with_image.styler_infograph(data-number='8', data-value='5', data-icon='icon-male', data-height='40', data-color='#0eae9b')
                      .progress_bars_with_image_title.styler_color 5 in every 8
                  .desc.styler_bg_color
                    i.styler_border_color
                    .name CONTRASTING
                    .text New developers learning Twitter Bootstrap each month&period;
                .col-md-3.col-xs-3.col-sm-3
                  .graph
                    .graph_inner
                      .progress_bars_caption.styler_color WEBSITE DESIGN &amp; DEVELOPMENT
                      .progress_bars.horizontal.style1.styler_infograph(data-width='220', data-height='15', data-color='#0eae9b', data-title='inner', data-value='75%')
                      .progress_bars_caption.styler_color iOS DEVELOPMENT
                      .progress_bars.horizontal.style1.styler_infograph(data-width='220', data-height='15', data-color='#0eae9b', data-title='inner', data-value='60%')
                      .progress_bars_caption.styler_color INFO GRAPHICS
                      .progress_bars.horizontal.style1.styler_infograph(data-width='220', data-height='15', data-color='#0eae9b', data-title='inner', data-value='50%')
                  .desc.styler_bg_color
                    i.styler_border_color
                    .name PROGRESS BARS
                    .text Web developers prefer working with Twitter Bootstrap&period;
                .col-md-3.col-xs-3.col-sm-3
                  .graph
                    .graph_inner
                      .easy-pie-chart.styler_infograph(data-percent='70', data-trackcolor='#6ed1ff', data-color='#0eae9b', data-linewidth='25', data-size='126', data-cap='butt')
                  .desc.styler_bg_color
                    i.styler_border_color
                    .name PROGRESS CIRCLES
                    .text Percent of Twitter Bootstrap websites created from templates&period;
            .infograph2
              .row
                .col-md-6.col-xs-12.col-sm-6
                  .caption STEPS&sol;PROCESS BOXES
                  ul.styled_list(data-color='#e19957, #d66659, #b53536', data-type='process_box')
                    li
                      .name PLAN
                      .desc Lorem ipsum dolor sit amet&comma; consectetur adipiscing elit&period;
                    li
                      .name DEVELOP &amp; TEST
                      .desc Lorem ipsum dolor sit amet&comma; consectetur adipiscing elit&period;
                    li
                      .name IMPLEMENT
                      .desc Lorem ipsum dolor sit amet&comma; consectetur adipiscing elit&period;
                .col-md-6.col-xs-12.col-sm-6
                  .caption THIN VERTICAL PROGRESS BARS
                  .progress_bars.vertical.style2(data-width='17', data-height='244', data-color='#68c7fe', data-bg='#00393f', data-title='false', data-value='25%')
                  .progress_bars.vertical.style2(data-width='17', data-height='244', data-color='#4bb3d3', data-bg='#00393f', data-title='false', data-value='35%')
                  .progress_bars.vertical.style2(data-width='17', data-height='244', data-color='#8aabaf', data-bg='#00393f', data-title='false', data-value='45%')
                  .progress_bars.vertical.style2(data-width='17', data-height='244', data-color='#86aa65', data-bg='#00393f', data-title='false', data-value='60%')
                  .progress_bars.vertical.style2(data-width='17', data-height='244', data-color='#eda637', data-bg='#00393f', data-title='false', data-value='65%')
                  .progress_bars.vertical.style2(data-width='17', data-height='244', data-color='#d7824c', data-bg='#00393f', data-title='false', data-value='70%')
                  .progress_bars.vertical.style2(data-width='17', data-height='244', data-color='#d56558', data-bg='#00393f', data-title='false', data-value='80%')
                  .progress_bars.vertical.style2(data-width='17', data-height='244', data-color='#d94c4b', data-bg='#00393f', data-title='false', data-value='85%')
              .row
                .col-md-12.col-xs-12.col-sm-12
                  .caption HORIZONTAL PROGRESS BARS WITH VALUE INDICATOR
                  .progress_bars_caption WEBSITE DESIGN &amp; DEVELOPMENT
                  .progress_bars.horizontal.style2(data-height='15', data-color='#d74b4b', data-title='inner', data-value='75%')
                  .progress_bars_caption iOS DEVELOPMENT
                  .progress_bars.horizontal.style2(data-height='15', data-color='#eca537', data-title='inner', data-value='60%')
                  .progress_bars_caption INFO GRAPHICS
                  .progress_bars.horizontal.style2(data-height='15', data-color='#4bb3d3', data-title='inner', data-value='40%')
                  .progress_bars_caption WORPRESS
                  .progress_bars.horizontal.style2(data-height='15', data-color='#89aa65', data-title='inner', data-value='38%')
            .infograph3
              .row
                .col-md-6.col-xs-12.col-sm-6
                  .caption AND&comma; OR&comma; AND&sol;OR&comma; &plus;&comma; -&comma; &plus;&sol;- INFO DIVIDER
                  .header vertical
                  .dividers
                    .info_divider.vertical.or(data-width='50', data-height='212')
                    .info_divider.vertical.and(data-width='50', data-height='212')
                    .info_divider.vertical.plus(data-width='50', data-height='212')
                    .info_divider.vertical.minus(data-width='50', data-height='212')
                    .info_divider.vertical.and-or(data-width='50', data-height='212')
                    .info_divider.vertical.plus-minus(data-width='50', data-height='212')
                  .header HORIZONTAL
                  .dividers
                    .info_divider.horizontal.plus-minus(data-height='50')
                    .info_divider.horizontal.and-or(data-height='50')
                    .info_divider.horizontal.minus(data-height='50')
                    .info_divider.horizontal.and(data-height='50')
                    .info_divider.horizontal.plus(data-height='50')
                    .info_divider.horizontal.or(data-height='50')
                .col-md-6.col-xs-12.col-sm-6
                  .caption WIDE VERTICAL PROGRESS WITH LARGE NUMBER VALUE INDICATOR
                  .progress_bars_with_numbers
                    .item
                      .progress_bars.vertical.style1(data-height='190', data-width='137', data-color='#eda636', data-title='bottom', data-value='38%')
                      .desc New developers learning Twitter Bootstrap each month&period;
                    .item
                      .progress_bars.vertical.style1(data-height='190', data-width='137', data-color='#85a964', data-title='bottom', data-value='75%')
                      .desc New developers learning Twitter Bootstrap each month&period;
                  .progress_bars_with_numbers
                    .item
                      .progress_bars.vertical.style1.no_bg(data-height='190', data-width='137', data-color='#d64b4c', data-title='bottom', data-value='28%')
                      .desc New developers learning Twitter Bootstrap each month&period;
                    .item
                      .progress_bars.vertical.style1.no_bg(data-height='190', data-width='137', data-color='#eda636', data-title='bottom', data-value='65%')
                      .desc New developers learning Twitter Bootstrap each month&period;
            .infograph4
              .header Trend Arrows
              .row
                .col-md-6.col-xs-12.col-sm-6
                  .trend(data-trend='up', data-color='#4bb3d3', data-value='55%', data-name='Tablet Sales')
                    .img
                      img(src='img/img3.png', alt='')
                  .trend_desc
                    | Tablet sales are continue to rise&period; In fact&comma; they&apos;ve risen by 55&percnt; this years alone&period; At this rate it won&apos;t be long and there will be more tablets than PCs&period;
                .col-md-6.col-xs-12.col-sm-6
                  .trend(data-trend='down', data-color='#89aa65', data-value='34%', data-name='PC Desktop Sales')
                    .img
                      img(src='img/img4.png', alt='')
                  .trend_desc
                    | Desktop PC sales are in decline&period; While tablet sales continue to rise desktop PC sales have decline by 34&percnt; this year&comma; indicator a major market shift&period;
            .infograph5
              .header QUESTION AND ANSWER FACTOID
              .row
                .col-md-12.col-xs-12.col-sm-12
                  .question
                    | Is my data secure&comma; and are you taking all the data off my computer and phone and storing in the cloud&quest;
                  .answer
                    i.styler_bg_color
                    .text
                      p
                        | First and foremost your data is secure&period; As your data passes through your cloud account database in our dataacenter it is always transmitted via 128-bit SSL Encryption&period; While we do keep a mirror copy of your calendar and contact data&comma; it&apos;s stored in its&apos; own database&comma; not co-mingled with other user&apos;s data in a giant database warehouse&period; We never mine&comma; sell&comma; and&sol;or give your data to anyone&period; We won&apos;t even look at your data unless you specifically ask us to in a support-related matter&period; We know for a fact that is not the case with Google&comma; Microsoft and&sol;or Apple&period; There&apos;s plenty of evidence to support the fact that they are actively mining data for personal and external uses&period;
                      p
                        | Second&comma; your data is always kept on your local devices&comma; both in Outlook and your mobile device&period; We merely keep a mirrored copy of your calendar and contact data for the purpose of comparing what is new&comma; what has been modified&comma; and what has been deleted so we can keep your devices and computers in sync&period;
                      p
                        | Finally&comma; a nice benefit to having a mirrored copy of your data in your cloud account database is that we provide you with a mechanism to securely access the data in an Outlook-style inteface from an Internet connected web browser&period; Thus&comma; if you are out and about&comma; drop your phone in the pool while miles away from your desktop&comma; you can gain access those critical appointments and important contacts with practically any Internet connected device&period;
            .infograph6
              .header.styler_color CONTRASTING ICONS
              .row
                .col-md-12.col-xs-12.col-sm-12
                  .caption TWITTER BOOTSTRAP&apos;S GROWING POPULARITY
                  .desc
                    | 5 out of every 8 web developer use Twitter Bootstrap as their primary development framework
                  .progress_bars_with_image(data-number='10', data-value='6', data-icon='icon-male', data-height='125', data-color='#00444a', data-letterspacing='0.15')
              .row
                .col-md-6.col-xs-12.col-sm-6
                  .caption bizStrap One&apos;s Awesome Value
                  .desc That&apos;s about the cost of 6 Cups of Coffee
                  .progress_bars_with_image(data-number='10', data-value='6', data-icon='icon-coffee', data-height='42', data-color='#d84c4c', data-letterspacing='0.2')
                .col-md-6.col-xs-12.col-sm-6
                  .caption DESKTOP COMPUTER BROWSERS
                  .desc 2 out every 10 desktop computers browsers are from Apple
                  .progress_bars_with_image(data-number='10', data-value='6', data-icon='icon-desktop', data-height='30', data-color='#88a964', data-letterspacing='0.3')
            .infograph7.styler_bg_color
              i
              .header Extra-Large Numbers
              .row
                .col-md-12.col-xs-12.col-sm-12
                  ul.styled_list(data-type='large_numbers')
                    li
                      .name CREATE YOUR ACCOUNT
                      .desc
                        | Create a TaskForce Account and our setup wizard walks you through the entire process&period;
                    li
                      .name INSTALL TASKFORCE
                      .desc
                        | Install the TaskForce Addin on your personal computer and the TaskForce app on your mobile device
                    li
                      .name SYNC TO YOUR PHONE
                      .desc
                        | TaskForce keeps your data in sync between your mobile device and TaskForce application
    script(type='text/javascript', src='js/jquery-1.8.3.min.js')
    script(type='text/javascript', src='js/jquery-ui.min.js')
    script(type='text/javascript', src='js/bootstrap.js')
    script(type='text/javascript', src='js/style-switcher/style-switcher.js')
    script(type='text/javascript', src='js/rs-plugin/js/jquery.themepunch.revolution.js')
    script(type='text/javascript', src='js/rs-plugin/js/jquery.themepunch.plugins.min.js')
    script(type='text/javascript', src='js/jquery.carouFredSel-6.2.1.js')
    script(type='text/javascript', src='http://www.google.com/jsapi')
    script(type='text/javascript', src='js/jquery.easy-pie-chart.js')
    script(type='text/javascript', src='js/library.js')
    script(type='text/javascript', src='js/function.js')
